<div id="mainBody" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlexAlign="center" fxFlex.xs="100%" fxFlex.gt-sm="400px" class="mat-elevation-z5">
    <div fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <img matCardImage src="assets/MedicareLogo.svg" style="width:100px">
            <span fxFlex="1 1 auto"></span>
        </div>
        <mat-card-header>
            <mat-card-title>
                Staff Login
            </mat-card-title>
            <mat-card-subtitle>
                Please enter your login details
            </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput type="email" required [(ngModel)]="loginUserData.email">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>{{ emailMessage }}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput type="password" required [(ngModel)]="loginUserData.password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>{{ passwordMessage }}</mat-hint>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
            <button color="accent" mat-raised-button (click)="login()"> Login </button>
        </mat-card-actions>
        <mat-card-footer>
            
        </mat-card-footer>
    </mat-card>
</div>