<!--<mat-sidenav-container id="sidenavBody">
    <mat-sidenav mode="over" align="start" id="sidenav" opened #nav>
    <button mat-button (click)="nav.toggle()">Feeds</button>
    <button mat-button matBadge="0" matBadgePosition="before" matBadgeColor="accent" (click)="nav.toggle()">Messages</button>
    <button mat-button (click)="nav.toggle()">Notifications</button>
    <button mat-button (click)="nav.toggle()">Profile</button>
    
    <button mat-button> Logout </button>
    </mat-sidenav>
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button>
            <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
    </mat-toolbar>
   Admin dashboard   
</mat-sidenav-container>-->

<mat-sidenav-container id="sidenavBody">
    <mat-sidenav>

    </mat-sidenav>
    Admin
</mat-sidenav-container>